spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    password: postgres
    username: postgres
    url: jdbc:postgresql://localhost/orders

server:
  port: 8080
logging:
  level:
    root: INFO
    org.apache.kafka: WARN
    org.springframework.kafka: WARN


